<p *ngIf="!courseList"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="courseList">
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Nr of Teachers</th>
      <th>Nr of Students</th>
      <th>Course Average</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courseList" (click)="navigateCourse(course)">
      <td>{{ course.name }}</td>
      <td>{{ course.numberOfTeachers }}</td>
      <td>{{ course.numberOfStudents }}</td>
      <td>{{ course.courseAvg }}</td>
    </tr>
  </tbody>
</table>
