<h2 id="tableLabel">Subjects</h2>

<p *ngIf="subject"><em>Subjects of {{subject.name}} course</em></p>

<p *ngIf="!subjectList"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="subjectList">
  <thead>
    <tr>
      <th>Subject Name</th>
      <th>Teacher Name</th>
      <th>Nr Of Students</th>
      <th>Average Grade</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let subject of subjectList" (click)="navigateSubject(subject)">
      <td>{{ subject.subjectName }}</td>
      <td>{{ subject.teacherName }}</td>
      <td>{{ subject.numberOfStudents }}</td>
      <td>{{ subject.subjectAvg }}</td>
    </tr>
  </tbody>
</table>
